<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Aplicación Flask - Evaluación{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="main-header">
        <h1>Evaluación Final - Programación Web con Flask</h1>
    </header>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="main-footer">
        <p>Desarrollado por: Jonathan Damian</p>
    </footer>
</body>
</html>
